@media (max-width: 1100px) {
	.container {
		max-width: 1060px;
	}
	
	.project {
		width: 45%;
	}
}

@media (max-width: 1000px) {
	body {
		min-height: 100vh;
		background-image:  
		linear-gradient(rgba(0,0,0,0.2) 10%,
		rgba(0,0,0,0.5) 30%,
		rgba(0,0,0,0.7) 50%,
		rgba(0,0,0,0.9) 90%),
		url("../img/background-img_1000.jpg");
		background-position: center center;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	.container {
		max-width: 960px;
	}
	
	section {
		height: auto !important;
		margin: 100px 0;
	}
	
	.header-section {
		margin-top: 0;
	}
	
	.header {
		width: 100%;
	}
	
	.header__main {
		width: 90%;
		margin: 0 auto;
		padding: 50px;
		margin-top: 150px;
		flex-direction: column;
		border-radius: 20px;
	}
	
	.main__img {
		width: 150px;
		height: 150px;
		transform: translateX(0);
		border-radius: 10px;
		margin: 0;
		margin-bottom: 20px;
		animation-name: none;
	}
	
	@keyframes none {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(0);
		}
	}
	
	.about-me {
		width: 90%;
		margin: 0 auto;
		border-radius: 20px;
		flex-direction: column;
		align-items: stretch;
	}
	
	.about-me__text {
		width: 100%;
		text-align: justify;
	} 
}

@media (max-width: 950px) {
	
	.container {
		max-width: 920px;
	} 	
}

@media (max-width: 900px) {
	
	body {
		min-height: 100vh;
		background-image:  
		linear-gradient(rgba(0,0,0,0.2) 10%,
		rgba(0,0,0,0.5) 30%,
		rgba(0,0,0,0.7) 50%,
		rgba(0,0,0,0.9) 90%),
		url("../img/background-img_900.jpg");
		background-position: center center;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	.container {
		max-width: 880px;
	}
	
	.main__heading {
		font-size: 30px;
	}
	
	.main__heading-text {
		font-size: 10px;
	}

	.main__img {
		border-radius: 50%;
	}
	
	.nav {
		flex-direction: column;
	}
	
	.logo {
		display: none;
	}
	
	.nav__list {
		width: 100%;
		margin-left: 0;
		text-align: center;
	}
	
	.nav__link {
		padding: 7px 10px;
		font-size: 14px;
		border: 1px solid snow;
	}
	
	.about-me__heading {
		font-size: 30px;
	}
	
	.about-me__text {
		font-size: 16px;
	}
	
	.project {
		border-width: 5px;
	}
	
	.project__img {
		height: 200px;
	}
	
	.project iframe {
		height: 200px;
	}
	
	.my-projects__heading {
		font-size: 40px;
	}
	
	.project__heading {
		font-size: 18px;
		margin: 7px 0;
	}
	
	.instrument {
		padding: 5px;
		font-size: 12px;
		font-weight: normal;
	}
	
	.project__text {
		font-size: 14px;
	}
	
	.project__link {
		display: inline-block;
		top: 7px;
		left:  10px;
		right: auto;
		bottom: auto;
		font-size: 6px;
		border-radius: 20px;
		padding: 3px;
		background-color: rgba(0,	0,	0,	0.5);
		box-shadow: 0 1px 2px grey;
		border: 1px solid white;
	}
	
	.copyright {
		font-size: 12px;
	}
}
@media (max-width: 800px) {
	
	body {
		background: none;
	}
	
	.container {
		max-width: 780px;
	}
	
	.header {
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	
	.header__main {
		padding: 20px;
		margin-top: 20px;
	}
	
	.nav {
		position: relative;
		margin-bottom: 50px;
		background-color: #092532;
	}
	
	.nav__list {
		justify-content: space-between;
	}

	.main {
		width: 90%;
		margin: 20px auto 0;
		border-radius: 20px;
		background-color: #092532;
	}
	
	.main__img {
		border-radius: 50%;
		box-shadow: 0 0 10px black;
		background-color: #092532;
	}
	
	.about-me {
		width: 90%;
		padding: 20px;
		margin: 20px auto 0;
		border-radius: 20px;
		background-color: #092532;
	}

	.about-me__heading {
		text-shadow: -5px -5px 10px black;
	}
	
	.my-projects__heading {
		margin-bottom: 20px;
		text-shadow: -2px -2px 7px black;
		color: #092532;
	}

	.project {
		background-color: #092532;
	}
	
	.project__img {
		height: 150px;
	}
	
	.project iframe {
		height: 150px;
	}
	
	.project__heading {
		font-size: 13px;
	}
	
	.instrument {
		font-size: 8px;
	}
	
	.project__text {
		font-size: 10px;
	}	

	.footer {
		background-color: #092532;
	}
}
@media (max-width: 700px) { 
	.container {
		max-width: 660px;
	}
	
	.logo {
		display: block;
		margin: 0;
		margin-bottom: 20px;
	}
	
	.nav__list {
		margin: 0;
		padding: 0;		
		text-align: center;
	}
	
	.nav__link {
		font-size: 12px;
		border: 1px solid snow;
	}
}

@media (max-width: 600px) {	
	
	.container {
		max-width: 580px;
	}

	.main__img {
		width: 100px;
		height: 100px;
	}
	
	.about-me__text {
		font-size: 13px;
	}
	
	.project {
		width: 70%;
	}
	
	.project iframe {
		height: 220px;
	}
	
	.project__img {
		height: 220px;
	}
}

@media (max-width: 420px) {
	
	.container {
		max-width: 400px;
	}
	
	.nav__link span {
		display: none;
	}

	.main__heading {
		font-size: 20px;
		margin-bottom: 10px;
	}	
	
	.project {
		width: 90%;
	}	
}

@media (max-width: 350px) {
	.nav__list {
		flex-direction: column;
	}

	.nav__item {
		margin-top: 2px;
	}
}